<div class="container-fluid">
    <div class="row">

        <div class="col-xl-3 col-md-6 xl-50">
            <div class="card o-hidden widget-cards">
                <div class="bg-warning card-body">
                    <div class="media static-top-widget row">
                        <div class="icons-widgets col-4">
                            <div class="align-self-center text-center">
                                <app-feather-icons icon="navigation" class="font-warning"></app-feather-icons>
                            </div>
                        </div>
                        <div class="media-body col-8"><span class="m-0">Orders</span>
                            <h3 class="mb-0">₹ <span class="counter" [CountTo]="totalOrders" [from]="0" [duration]="2"></span><small>This Year</small></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 xl-50">
                <div class="card o-hidden widget-cards">
                    <div class="bg-secondary card-body">
                        <div class="media static-top-widget row">
                            <div class="icons-widgets col-4">
                                <div class="align-self-center text-center">
                                        <app-feather-icons icon="box" class="font-secondary"></app-feather-icons>
                                </div>
                            </div>
                            <div class="media-body col-8"><span class="m-0">Shipping Amount</span>
                                <h3 class="mb-0">₹ <span class="counter" [CountTo]="totalShipingAmount" [from]="0" [duration]="2"></span><small>This Year</small></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 xl-50">
                    <div class="card o-hidden widget-cards">
                        <div class="bg-primary card-body">
                            <div class="media static-top-widget row">
                                <div class="icons-widgets col-4">
                                    <div class="align-self-center text-center">
                                        <app-feather-icons icon="message-square" class="font-primary"></app-feather-icons>
                                    </div>
                                </div>
                                <div class="media-body col-8"><span class="m-0">Cash On Delivery</span>
                                    <h3 class="mb-0">₹ <span class="counter" [CountTo]="totalCashonDelvery" [from]="0" [duration]="2"></span><small>This Year</small></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 xl-50">
                        <div class="card o-hidden widget-cards">
                            <div class="bg-danger card-body">
                                <div class="media static-top-widget row">
                                    <div class="icons-widgets col-4">
                                        <div class="align-self-center text-center">
                                                <app-feather-icons icon="users" class="font-danger"></app-feather-icons>   
                                        </div>
                                    </div>
                                    <div class="media-body col-8"><span class="m-0">Cancelled</span>
                                        <h3 class="mb-0">₹ <span class="counter" [CountTo]="totalCancel" [from]="0" [duration]="2"></span><small>This Year</small></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


        <div class="col-xl-12 xl-100">
            <div class="card">
                <div class="card-header">
                    <h5>Orders</h5>
                </div>
                <div class="card-body">
                    <div class="user-status table-responsive latest-order-table">
                        <div id="batchDelete" class="category-table custom-datatable transcation-datatable">
                            <div class="table-responsive">
                                <ng2-smart-table [settings]="settings" [source]="orders"></ng2-smart-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>{{statusText}}</h5>
                </div>
                <div class="card-body sell-graph">
                    <ng-template [ngIf]="isShowOrderStatus">
                    <canvas baseChart id="myGraph" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                        [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType">
                    </canvas>
                </ng-template>
                </div>
            </div>
        </div>
    </div>